google-api-core==2.15.0
google-api-python-client==2.110.0
google-auth==2.25.2
google-cloud-bigquery==3.13.0
google-cloud-core==2.4.1
google-cloud-iam==2.13.0
google-cloud-pubsub==2.19.0
google-cloud-secret-manager==2.17.0
google-cloud-securitycenter==1.25.0
google-cloud-storage==2.13.0
googleapis-common-protos==1.62.0
protobuf==4.25.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.31.0
