/* 

Writer: Matthew OBrien

Cited:
- Broad Institute Styleguide https://drive.google.com/file/d/0B877YjdN2Vv9ZkdPNElpSTZmTDg/view

Colors:
- Broad Blue:     #006db6
- Yellow:         #ffcd00
- Orange:         #ff6a6a
- Red:            #b12028
- Light Blue:     #00afd7
- Green:          #80bc42
- Grey:           #63666a
- Purple:         #69488e

*/

dl.function, .footer {
    /* border-top: 3px solid #d0d0d0; */
    padding-bottom: 10px;
    padding-top: 10px;
}

dl.function dt {
    border-left: 2px solid #000000;
    padding: 4px 8px;
    background-color: #ecf0f3;
}

p code {
    font-size: 0.80em;
}

a.reference.external code {
    font-weight: normal;
    color: #006db6;
    background-color: #ecf0f3;
}

span.viewcode-link {
    color: #006db6;
}

dl.field-list dt.field-odd {
    min-width: max-content;
}


/* Code styling */

/* Signature Styling */

em {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

/* function name */
code.sig-name.descname {
    color: #006db6;
}

/* module(s) prefix */
code.sig-prename.descclassname {
    font-size: 0.80em;
}

/* parameters */
em.sig-param .n {
    font-size: 0.9em;
    color: #963333;
}

/* operators */
em.sig-param .o {
    color: #000000;
}

/* default values */
em.sig-param .default_value {
    color: #499100;
    font-size: 0.9em;
    font-style: normal;
}

/* Code Block Styling */

/* background */
div.highlight pre {
    background-color: #f5f9fc
}

.highlight-python pre {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.8em;
}

/* python statements */
.highlight-python .kn, .highlight-python .k, .highlight-python .ow {
    color: #69488e;
}

/* function names */
.highlight-python .nf {
    color: #006db6;
    font-weight: bold;
}

/* string modifiers */
.highlight-python .sa, .highlight-python .si {
    color: #cb532b;
}
